# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*





bihana hinchu 8:30 ma office pugchu 9 ma
meeting baschu coffee khanchu churot tanchu 10 ma
ani customer lai bhetchu uskai office thauma
requirement liyi aauchu feri ma 11 ma
feri tala churot tanna janchu ma bamboo ma
launa hera kati chito bajyo 12:30
aba ta lagna parcha khaja khana...

yo harmo office X4

kata khane bhanda bhandai bajyo hera 1 
choila chiura khau ki roti
biryani khau ki momo po
launa hera aba ta dhila bho
khaja khada khadai bajyo hera 2
aba ta lagna parcha hai

yo hamro office X4

customer ko requirement ni kk ho khai
haakim pani aaucha tha hai napai
kaile haakima ko gali kaile team lead ko gali
mero kaile thiyena yesto gali khane bani

yo hamro office X4

launa hera kaama garda gardai bajyo 3
churot taani mathi aauda bajcha 4
architecture banaudai bajyo 5
meeting mintute lekhda lekhdai bhayo 6
ghar tira lganu parcha aba

yo hamro office X4
