.skills{
    width: 100%;
    height: 80vh;
}

.skills-title{
    font-size: 25px;
    padding: 80px;
    text-align: center;
}

.skills-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 3rem;
}

.skills-col{
    width: 15%;
    background-color: #F2F2F2;
    margin-right: 2rem;
    text-align: center;

}
.image{
    margin: 40px auto;
    width: 60%;
    height: 60%;
    background-color: #F2F2F2;
    
}
@media  only screen and (min-width: 768px) 
{
    .skills{
        height: 30vh;
    }
    .skills-col{
        background-color: white;
    }
}

@media screen and (max-width: 600px) {
    .skills-row{
       
        flex-direction: row;
       
    }
    .skills-col{
        width:55%;
        background-color: #F2F2F2;
        margin-right: 2rem;
        text-align: center;
    
    }
    .skills-title{
        padding: 67px;
    }
  .skills-row{
    margin-left: 2rem;
  }
  .skills-col{
    background-color: white;
}
  }
  @media  only screen and (min-width: 992px)
{
    .skills {
      
        height: 70vh;
    }
    .skills-row{
        margin-top: 3rem;
    }
    .skills-col {
      
        background-color: #F2F2F2;
        margin-right: 3rem;
        
    }
    
}
